body {
	position: relative; 
}
#section1 {padding-top:160px;height:800px;color: #fff; background-color: #1E88E5;}
#section2 {padding-top:50px;height:800px;color: #fff; background-color: #673ab7;}
#section3 {padding-top:50px;height:800px;color: #fff; background-color: #ff9800;}
#section4 {padding-top:50px;height:800px;color: #fff; background-color: #00bcd4;}

.navbar {
	padding:0;
}

div.container-fluid.header {
	padding: 5px 20px;
	margin: 0;
}

.header {
	font-size: 180%;
	font-weight: bold;
	transition: line-height 0.7s, opacity 0.7s, font-size 0.7s;
	background-color: black;
	line-height: 100px;
}
.navbar-brand {
	color: white;
	letter-spacing: 4px;
	font-size: 150%;
}
.header.shrink {
	line-height: 50px;
	opacity: 0.5;
	font-size: 150%;
}
